.preloader {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 99;
	background-color: black;
}

.preloader__content {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	align-items: flex-start;
	justify-content: center;
	width: 100vw;
	padding: 0 1.5rem;
}

.preloader__text {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: clamp(2rem, 5vw, 6rem);
	position: relative;
	width: min(90%, 60rem);
	height: 100%;
}

.special {
	position: relative;
	transform-style: preserve-3d;
	/* transition: transform 0.4s; */
	z-index: 1;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* width: 100%;
	height: 100%; */
}

.animated__text {
	font-family: "Impact", "Arial Black", "Segoe UI Black", sans-serif;
	font-size: clamp(1.75rem, 4vw, 4rem);
	line-height: 1;
	letter-spacing: 0.01em;
	font-weight: 400;
	transform: translate(-50%, 4vw) rotateX(-90deg);
	transform-origin: bottom center;
	position: absolute;
	top: 0;
	left: 50%;
	opacity: 0;
}

.launch-text {
	margin-left: 90px;
}

.special svg {
	transition: all 0.4s;
	margin: 0px;
	opacity: 1;
	height: clamp(18px, 5.5vw, 64px);
	width: auto;
	max-width: min(70vw, 420px);
	transform-origin: center;
}

.item {
	width: fit-content;
	overflow: visible;
	stroke: #fff;
	stroke-width: 3;
	stroke-linejoin: round;
	stroke-linecap: round;
	z-index: 1;
}

@media screen and (max-width: 500px) {
	.preloader__text {
		width: 100%;
		gap: 2rem;
	}

	.animated__text {
		transform: translate(-50%, 6.5vw) rotateX(-90deg);
		font-size: clamp(1.25rem, 5vw, 2rem);
	}
}